/* General css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* 1rem = 10px; */

  /* font-size: 62.5%; */

  /* 12px / 16px = 0.75 = 75% */
  /* 1rem = 12px; */

  /* 1rem = 24px */
  /* font-size: 150%; */
  position: absolute;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1;
  font-weight: 400;
}

/* Reusable code */

.container {
  max-width: 120rem;
  padding: 2.4rem;
  margin: 0 2.4rem 0 2.4rem;
}

.grid {
  display: grid;
  row-gap: 2.4rem;
  column-gap: 4.8rem;
}

.grid--2-cols {
  grid-template-columns: 40fr 60fr;
}

.grid--2-cols-modified {
  grid-template-columns: 33fr 66fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 3.6rem;
  letter-spacing: 2;
  line-height: 1.2;
  font-weight: 700;
  padding-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;

  transition: all 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: rgb(13, 13, 172);
  color: #e5e5e5;
}

.btn--full:hover,
.btn--full:active {
  background-color: #e5e5e5;
  color: rgb(13, 13, 172);
}
