/*********************/
/*   HEADER SECTION  */
/*********************/

.header {
  padding: 2rem;
  margin-top: 2.4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  height: 2rem;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-nav-link {
  display: inline;
  color: rgb(73, 73, 201);
  text-decoration: none;
}

.bg:link,
.bg:visited {
  padding: 1.2rem 2rem;
  background-color: rgba(137, 160, 209, 0.288);
}

.bg:hover,
.bg:active {
  background-color: rgba(105, 123, 161, 0.274);
}

.btn--spam {
  position: fixed;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  margin: 1.4rem;
  font-size: 1.1rem;
  letter-spacing: 1.1;

  background: rgb(238, 238, 238);
  bottom: 0;
  right: 0;
  border: 1px solid grey;

  cursor: pointer;
}

/*Scrolling remaining header*/

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.hidden {
  display: none;
}

.contenitore {
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contenitore-left {
  padding: 1.6rem 1.6rem 1.6rem 2rem;

  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.make-inline {
  display: inline-block;
}

.choices {
  display: flex;
  gap: 2rem;
}

.btn--header {
  color: #fff;

  display: inline-block;
  background: none;
  border: none;
}

.header-nav {
  padding: 1rem;
}

.header-nav-link-white {
  display: inline;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.bg--2:link,
.bg--2:visited {
  padding: 1.2rem 2rem;
  background-color: rgb(54, 97, 190);
}

.bg--2:hover,
.bg--2:active {
  background-color: rgb(40, 72, 141);
}

/*********************/
/*   HERO SECTION  */
/*********************/

.section-hero {
  margin-bottom: 3.2rem;
}

.hero-text-box {
  align-self: center;
  width: 100%;
}

.hero-img {
  display: block;
  width: 100%;
}

.hero-text {
  line-height: 1.4;
  font-size: 1.2rem;
  padding-bottom: 1.4rem;
}

/*********************/
/*   TESTIMONIAL SECTION  */
/*********************/

.container--testimonial {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 3.2rem 3.2rem 3.2rem;
  /*background-color: rgb(106, 106, 199);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.testimonial-logo {
  width: 10%;
}

/*********************/
/*   FEATURE SECTION  */
/*********************/

.section-feature {
  margin-bottom: 4.8rem;
}

.container--feature {
  max-width: 120rem;
  margin: 0 2.4rem 0 2.4rem;

  padding: 4.8rem !important;
  background-color: rgba(223, 166, 192, 0.404);
}

.container--feature---color {
  background-color: rgba(187, 121, 196, 0.74);
}

.left {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

.feature-heading {
  font-size: 4.2rem;
  /* line-height: 1.8; */
  margin-bottom: 2.4rem;
}

.feature-subheading {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 3.6rem;
}

.feature-box {
  /*position: absolute;
    bottom: 0;
    left: 0;*/
  width: 100%;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 3rem 2rem;
}

.feature-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 50%;
  margin-bottom: 2.4rem;
}

.feature-testimonial-text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
}

.feature-testimonial-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.feature-img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
}

.feature-testimonial-box-text {
  display: inline-block;
  font-size: 1rem;
}

.feature-testimonial-box-text .feature-testimonial-box-name {
  margin-bottom: 0.6rem;
}

.right {
  align-self: center;
}

.feature-right-img {
  width: 100%;
  margin-bottom: 4rem;
}

.product-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.product-feature {
  width: 100%;
  align-self: flex-start;
}

.product-feature-heading {
  font-size: 1rem;
  margin-bottom: 1.6rem;
}

.product-feature-description {
  line-height: 1.4;
}

.product-feature-description a:link,
.product-feature-description a:visited {
  color: black;
}

.product-feature-description a:hover,
.product-feature-description a:active {
  color: blue;
}

.bottom {
  padding: 1.2rem 0;
  margin: 0 2.4rem;
  background-color: #e5e5e5;
}

.get-started-box:link,
.get-started-box:visited {
  text-decoration: none;
  background-color: rgb(223, 166, 192);
  color: black;
  transition: all 0.5s;
}

.get-started-box:hover,
.get-started-box:active {
  color: rgb(255, 255, 255);
  background-color: rgb(209, 159, 181);
}

.get-started-text {
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
}

/*********************/
/*  EXPLORE SECTION  */
/*********************/

.container--explore {
  max-width: 120rem;
  padding: 0 2.8rem;
  margin: 0 2.4rem 6.4rem 2.4rem;
}

.text-small {
  color: rgb(119, 119, 119);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1.6rem;
}

.text-normal {
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.explore-feature-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.explore-feature-card {
  padding: 2.4rem;
  background: linear-gradient(
    to top right,
    rgb(69, 169, 194),
    rgb(233, 193, 170)
  );
}

.explore-icon {
  width: 3.6rem;
  margin-bottom: 2rem;
}

.card-main-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.card-text {
  line-height: 1.2;
}

/*********************/
/*    CTA SECTION    */
/*********************/

.container--cta {
  max-width: 120rem;
  padding: 5.6rem 2.8rem;
  margin: 0;
  background-color: black;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 3rem;
}

.cta--left {
  width: 100%;
}

.special {
  color: #fff;
  margin-bottom: 2.4rem !important;
}

.cta--content {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.cta--right {
  width: 100%;
}

.cta-text-small {
  color: lightgray;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.7;
  margin-bottom: 4.8rem;
}

.cta--logo {
  width: 6.4rem;
}

.griglia {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 2.4rem;
}

.griglia--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/*********************/
/*   FOOTER SECTION  */
/*********************/

.footer {
  max-width: 120rem;
  padding: 5.6rem 2.8rem;
  margin: 0;
  background-color: black;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 4.8rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 25fr 25fr 25fr 10fr;
  align-items: start;

  margin-bottom: 4.8rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.th {
  font-size: 1.2rem;
  color: #fff;
}

.column-link:link,
.column-link:visited {
  text-decoration: none;
  font-size: 0.8rem;
  color: rgb(184, 184, 184);
}

.column-link:hover,
.column-link:active {
  color: #fff;
}

.footer-text {
  color: rgb(184, 184, 184);
}
